/* Custom CSS on top of existing Boostrap/Theme */

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 728px;
    }
}

label.thing-type {
    border: 1px dashed #868e96;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 0.2em;
    margin-right: 0.2em;
    opacity: 0.7;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    text-align: center;
}

span.validation.selected,
span.validation-child.selected {
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 5px;
    color: #3FB618;
}

span.validation.not-selected {
    opacity: 0;
    color: #FF0039;
    position: absolute;
    top: 4px;
    right: 5px;
}

span.validation-child.not-selected {
    opacity: 0;
    color: #868e96;
    position: absolute;
    top: 4px;
    right: 5px;
}

span.validation.ignore {
    opacity: 0;
    color: #f0ad4e;
    position: absolute;
    top: 4px;
    right: 5px;
}

/* style 2 */
span.validation.selected {
    opacity: 0.3;
    display:none;
    color: #868e96;
    position: relative;
    top: 0;
    right: 0;
}
span.validation.not-selected {
    opacity: 0.3;
    display:none;
    color: #868e96;
    position: relative;
    top: 0;
    right: 0;
}
span.validation.ignore {
    opacity: 0.3;
    display:none;
    color: #868e96;
    position: relative;
    top: 0;
    right: 0;
}

input[type=checkbox][name=thing-types]{
    display: none;
}

input[type=checkbox][name=thing-types]:checked + label.thing-type {
    border: 1px solid #3FB618;
    color: #3FB618;
    opacity: 1;
}

input[type=checkbox][name=thing-types]:checked + label.thing-type span.validation-child.selected { opacity: 1; }
input[type=checkbox][name=thing-types]:checked + label.thing-type span.validation-child.not-selected { opacity: 0; }


.check-cont { position: relative; }
.check-cont[data-valid="0"] span.validation.not-selected { opacity: 1 !important; color: #FF0039; display: inline-block; }
.check-cont[data-valid="1"] span.validation.selected { opacity: 1 !important; color: #3FB618; display: inline-block; }
.check-cont[data-valid="2"] span.validation.ignore { opacity: 1 !important; color: #f0ad4e; display: inline-block; }

.check-cont[data-valid="0"] .form-control, .check-cont[data-valid="0"] .bootstrap-tagsinput { border-color: #FF0039; }
.check-cont[data-valid="1"] .form-control, .check-cont[data-valid="1"] .bootstrap-tagsinput { border-color: #3FB618; }
/* .check-cont[data-valid="2"] .form-control, .check-cont[data-valid="2"].bootstrap-tagsinput { border-color: #f0ad4e; } */

.custom-control-label::before { top: 2px; }
.custom-control-label::after { top: 2px; }

#edit-rule { display: none; }

hr { margin-top: 4em; }

.rule-meta-bot {
    opacity: 0;
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index:999;
}
li.rules-item:hover .rule-meta-bot { opacity: 1; }
li.rules-item {
    max-height: 150px;
    position:relative;
    overflow:hidden;
}
li.rules-item.expanded {
    max-height: none;
    padding-bottom: 25px;
}
li.rules-item:not(.expanded):after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 80%);
  width    : 100%;
  height   : 4em;
}
.rule-meta-bot span {
    color: #2780E3;
    cursor:pointer;
}

.rule-meta-bot span:hover {
    text-decoration: underline;
}

/* new styles */
.setup-selection {
    box-sizing: border-box;
    border: 1px dashed #868e96;
    cursor: pointer;
    padding: 1em 0.5em;
    position: relative;
    text-align: center;
}

.setup-selection i {
    font-size: 48px;
}

.setup-selection .label {
    margin-top: 1em;
}

.setup-selection .label-meta {
    /* font-color: # */
}

/* Tagsinput */
.bootstrap-tagsinput {
    border-color: #ced4da;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}
.bootstrap-tagsinput .tag {
    color: inherit !important;
}

/* wizard modal */
/* .requestwizard-modal{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.requestwizard-step p {
    margin-top: 10px;
} */

.requestwizard-row {
    display: table-row;
}

.requestwizard {
    display: table;
    width: 100%;
    position: relative;
}

.requestwizard-step a.btn-nav[disabled] {
    /* background-color: white;
    outline: none;
    border: 1px solid #ced4da;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    color: #ced4da; */
    border: 1px solid #ced4da;
    background: white;
    color: #ced4da;
}

.requestwizard-step a.btn-nav:not([disabled]):not(.btn-primary) {
    border: 1px solid white;
    background: #f0ad4e;
    color: white;
}

.requestwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.requestwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
